ul.toppings {
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
}
ul.toppings li {
  font-size: 10pt;
  display: inline;
  padding: 3px;
  margin-right: 10px;
  border: 1px solid #999;
  background-color: #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
ul.toppings li a {
  text-decoration:none;
  padding-left:4px;
  font-size:14px;
  color:#666;
  font-family:arial;
}
